body{
	background-color: #white;
	text-align: center;
	font-family: EB Garamond, calibri;
}

img{
	border: 3px white;
	border-radius: 50%;
}

.nav-box{
	text-align: left;
	color;black;
	height: 40px;
}

.prof-pic{
	background-image: url(images/brooklynwallpaper.png);
  	height: 510px;
}

.about-me{
	text-align: center;
	padding-top: 100px;
	padding-right: 220px;
	padding-left: 220px;
}

.social-links{
	padding-top: 100px;
}

.work-experience{
	text-align: CENTER;
	padding-top: 50px;
}



